.ProductsList {
  padding: 80px 0;

  .wrapper {
    max-width: 1400px;
    margin: 0 auto;
  }
}


.ProductListContent {
  display: flex;
}

.productItems {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.filterPanel {
  display: flex;
  height: 820px;
  align-content: space-evenly;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: lightgrey;
  margin-right: 20px;
  border-radius: 20px;
  border: 1px solid black;
}

.filter__panelHeader {
  font-size: 20px;
}

.productsCategories {
  width: 350px;
  padding: 40px 20px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.categories:not([multiple]) {
  padding-right: 1.2em;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.25em) 0.58em;
  background-size: 0.85em auto;
  background-image: url("./down-chevron.svg");
}

.categories::-ms-expand {
  display: none;
}

li {
  list-style-type: none;
  margin-left: 20px;
  cursor: pointer;
  transition: margin 500ms;
  padding: 5px;


  &:hover {
    background-color: white;
    border: 1px solid black;
    margin-left: 40px;
    box-shadow: 10px 10px 23px -12px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 23px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 23px -12px rgba(0, 0, 0, 0.75);
    border-radius: 10px;

  }
}

.searchPanel {
  padding: 10px;
  background-color: lightgray;
  width: 590px;
  margin-bottom: 30px;
  border-radius: 20px;
  border: 2px solid black;
  display: flex;
}

  .searchButton {
    //color: white;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: background-color 500ms;

    &:hover {
      background-color: white;
    }
  }

  .searchInput {
    color: black;
    border-radius: 10px 0 0 10px;;
    outline: none;
    width: 500px;
    font-size: 22px;
    padding: 5px;
  }
