.Product {
  padding: 25px 25px 0;
  background-color: #e5e5e5;
  border: 2px solid gray;
  align-content: center;
  border-radius: 20px;
  width: 320px;
  box-shadow: 10px 10px 23px -12px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 23px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 23px -12px rgba(0,0,0,0.75);
}

.product__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
  position: relative;
}

.productImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}

.productHeader {
  margin: 20px 0;
  text-align: left;
}

.buttonBlock {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 30px 0;
}

.tocartButton,
.showMoreButton {
  padding: 15px 25px;
  transition: all 0.4s;
  text-transform: uppercase;
  background-color: lightgrey;
  color: black;
  font-weight: 700;
  font-size: 15px;
  border-radius: 0 0 0 20px;


  &:hover {
    background-color: white;
    color: black;
  }
}

.tocartButton {
  border-radius: 0 0 20px 0;
}

.productDescription {
  width: 100%;
  //text-wrap: balance;
}



