
.contacts__info {
  display: flex;
  align-items: center;
  //justify-content: space-around;
  gap: 150px;

  .addresses {
    width: 300px;

    .contacts__header {
      font-size: 25px;
      margin-bottom: 5px;
    }

    .contacts__link {
      font-size: 25px;
      text-decoration: none;
      color: limegreen;
    }

    div:not(:first-of-type) {
      margin-top: 30px;
    }
  }
}